# Ignore the enviromanet file
.env

# Ignore the vscode settings
.vscode/

# Ignore the temperaroy files created while getting the transcripts 
/temp_transcripts/

# Ignore the jupyter notebook checkpoints
.ipynb_checkpoints/
__pycache__/

# Ignore the log files
*.log

# Ignore the data files
*.csv
*.json

# Ignore the audio files 
*.wav

.DS_Store


# These are the ignore files for the frontend direct ory of the project.
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
